<div class="container my-3" style="height: 140vh">
  <h1 class="text-center">All Costumes</h1>
  <br>

  <div class="costume-card-container">
    <% @costumes.each do |costume| %>
      <div class="costume-index-card">
      <div class="costume-index-card-img" style="background-image:url('<%= cl_image_path costume.photos.first.key %>')">

      </div>
        <div class="card-body">
          <h2><%= link_to costume.name, costume_path(costume) %></h2>
          <h5 class="card-subtitle mb-2 text-muted">£<%= costume.price %>/day</h5>
          <p class="card-text"><%= costume.description %></p>
        </div>
      </div>
    <% end %>

  </div>
  <br>



</div>
