<h1>All Bookings</h1>

  <ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= link_to "Booking {booking_id}", booking_path(booking) %>
    </li>
    <% end %>
  </ul>

  # fix the booking_id
  # find a  way to list out all the bookings with name dates and costume name
  # figure sum for price
  # add edit method
