<h1>New Booking</h1>

<%= simple_form_for @booking do |form| %>

  <div class="form-inputs">
    <% f.input :start_date, as: date %>
    <% f.input :end_date, as: date %>
    <% f.input :price %>
    <% f.input :total %>
  </div>

  <div class="form-actions">
   <%= f.button :submit %>
  </div>
<% end %>
