


  <div class="footer d-flex flex-wrap justify-content-between align-items-center py-3 border-top" style="margin-bottom: 0 !important; margin-top: 1px; bottom: 0; right: 0; left: 0; z-index: 1030">
    <div class="col-md-4 d-flex align-items-center">
       <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; Frock O Clock</span>
    </div>
      <%= image_tag "logo.png", class: "logo" %>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <%= link_to costumes_path, class: "text-body-secondary" do %>
      <i class="fa-solid fa-house"></i>
      <% end %>
      <li class="mx-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="me-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-facebook"></i></a></li>
    </ul>
  </div>
