<div class="banner">
  <div class="slogan">
    <h1>Rent, Play, Slay </h1>
    <h3>Your Costume,<br/> Your Spotlight!<h3>
    <div class="button-container">
      <a href="/costumes" class="home-btn btn btn-primary">View Costumes</a>
    </div>
  </div>
</div>
