<div class="background d-flex">
  <div class="slogan">
    <h1>Rent, Play, Slay </h1>
    <div class="button-container">
      <a href="/costumes" class="home-btn btn btn-primary">View Costumes</a>
    </div>
  </div>

  <div class"boxes">
    <div class="curved-box-1">
    <h2>Who we are</h2>
    <p>Your home for all things costume.</p>
  </div>

  <div class="curved-box-2">
  <a href="/costumes/new">
    <h2>List a costume</h2>
    <p>Do you own a costume you never wear? Rent it out!</p>
  </div>

  <div class="curved-box-3">
  <a href="/costumes">
    <h2>Rent a costume</h2>
    <p>Need a costume? We have tons to choose from!</p>
  </div>

  </div>
</div>
