<div class="banner">
  <div class="container">
    <h1>Transform Your Imagination: Unleash the Magic with Our Spectacular Costume Rentals!</h1>
    <a href="#" class="btn btn-primary">View Costumes</a>
  </div>
</div>
