.btn-accept{
  background-color: #DB4A2B;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 95px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-reject{
    background-color: black;
    color: #DB4A2B;
    border-radius: 2rem;
    cursor: pointer;
    width: 95px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn-form{
  background-color:#DB4A2B;
  color: white;
  font-family: "finger paint";
  margin-bottom: 10px;
  border-radius: 4px;
  transition: 0.1s;

  :hover{
    color: #DB4A2B;
  }
}

.links-login{
  text-decoration: none;
  color: black;
  font-family: "finger paint";
  font-size: 12px;
}
