.btn-accept{
  background-color: #DB4A2B;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 95px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-reject{
    background-color: black;
    color: #DB4A2B;
    border-radius: 2rem;
    cursor: pointer;
    width: 95px;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-cleanup, .button-cleanup:active, .button-cleanup:visited {
    color: #DB4A2B;
    background-color: white;
    border-color: #DB4A2B;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .button-cleanup:hover {
    background-color: #DB4A2B;
    border-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .booking_status {
    margin-bottom: 0!important;
  }
